<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/img/me.jpg" alt="MyProfilePhoto" class="img-fluid" />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="name">Sebastian Rodrigo Costilla</p>
    <p id="subTitle">Full Stack Developer jr.</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1 id="title">About Me</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita
        numquam, facere provident libero labore fugit ipsam a culpa quis maxime
        ad dicta excepturi sint voluptatem optio fugiat laboriosam maiores
        deserunt!
      </p>
    </span>
  </div>
</div>
