.title{
  font-family: 'Tusj';
  text-align: center;
  color: #ecd6c0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img
{
    width: 100%;
}
.container {
    position: relative;
  }
  
  .circle-image {
    border-radius: 50%;
    overflow: hidden;
    width: 200px; /* ajusta el tamaño de acuerdo a tus necesidades */
    height: 200px; /* ajusta el tamaño de acuerdo a tus necesidades */
    position: absolute;
    top: 7%; /* ajusta la posición vertical de acuerdo a tus necesidades */
    left: 15%; /* ajusta la posición horizontal de acuerdo a tus necesidades */
    transform: translate(-50%, -50%);
  }



