<div class="row">
  <div class="col-10 offset-1">
    <span>
      <h3 id="title">&lt;Resume&gt;</h3>
      <div id="speach">
        <ul>
          <li>
            <h3 id="name">Trabajo 1</h3>
            -
            <h5 id="name">Years</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
              quaerat minima nulla minus maiores quam ea earum modi excepturi,
              nesciunt ut totam inventore laudantium molestiae nostrum iusto
              soluta quo explicabo.
            </p>
          </li>
        </ul>
        <ul>
            <li>
              <h3 id="name">Trabajo 2</h3>
              -
              <h5 id="name">Years</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
                quaerat minima nulla minus maiores quam ea earum modi excepturi,
                nesciunt ut totam inventore laudantium molestiae nostrum iusto
                soluta quo explicabo.
              </p>
            </li>
          </ul>
          <ul>
            <li>
              <h3 id="name">Trabajo 3</h3>
              -
              <h5 id="name">Years</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
                quaerat minima nulla minus maiores quam ea earum modi excepturi,
                nesciunt ut totam inventore laudantium molestiae nostrum iusto
                soluta quo explicabo.
              </p>
            </li>
          </ul>
      </div>
      <h3 id="title">&lt;/Resume&gt;</h3>
    </span>
  </div>
</div>
